.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.inp {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2 2px 3px #6b83a8;
}

.inp:focus-visible {
  border: none;
  outline: none;
}


.button {
  border: none;
  background-color: #0be47f;
  flex-basis: 200px;
  font-weight: semi-bold;
  font-size: 18px;
  border-radius: 3px;
  transition-duration: .3s;
}


.button:hover {
  cursor: pointer;
  box-shadow: 0 0 3px #6b83a8;
}